@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.myname {
    margin-top:100px;
    width: 100%;
    /* height: 50vh; */
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-evenly;
    padding: 0px; 
    /* background-color: pink;       */
}
.overlay {    
    position:absolute;
    display:none;    
}
/* 
.overlay h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-align: justify;
    font-family: "Poppins", 'sans-serif';
    top:-100px;
    height:20px;
}

.overlay h1 a {
    color: #000;
    text-decoration: none;
} */
.word {
    /* margin-left:20px; */
    left: 40px;
    float:left;    
    width:60%;
    position: relative;
    
}

.word p {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 0.6rem;
    font-family: "Poppins", 'sans-serif';
}

.under::after {
    left: 40px;
    position: absolute;
    bottom: 10%;
    left:.5%;
    width:31%;
    height:22px;
    content: "";
    background-color: #f89827;
    z-index: -100;

}

.profile-pic{
    flex:3;
}

.hand {
    display:inline-block;
    width: fit-content;    
    transition: all 0.3s ease;
}
.hand:hover {
    cursor: pointer;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(25deg);
    }
}

@-webkit-keyframes wave {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(25deg);
    }
}

@-moz-keyframes wave {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(25deg);
    }
}

@-o-keyframes wave {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(25deg);
    }
}




.hand:hover {
    

    -webkit-animation: wave .5s infinite; /* Safari 4+ */
    -moz-animation:    wave .5s infinite; /* Fx 5+ */
    -o-animation:      wave .5s infinite; /* Opera 12+ */
    animation:         wave .5s infinite alternate;
}


/* Responsiveness mobile */

@media screen and (min-width: 300px) 
and (max-width: 600px) {

    .overlay {
        display:flex;
        flex-direction: column;
        width:90%;
        height: 100vh;
        background-color:#fff;        
        align-items: center;
        justify-content: center;
        opacity:0;
        z-index:700;
        position: absolute;
        text-align: center;
        top:10%;
        /* margin-bottom:150px; */
    }
    .overlay h1 {
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        text-align: justify;
        font-family: "Poppins", 'sans-serif';
        top:-100px;
        height:20px;
        color:#000;
        margin-left:35px;
    }
    .overlay h1 a {
        color: #000;
        text-decoration: none;
    }
    
    .myname {
        margin-top:100px;
        width: 100%;
        /* height: 50vh; */
        display: flex;
        flex-direction: column;
        align-items: center;         
        justify-content: center;
        
    }

    .word { 
        margin-left: -50px;       
        width:80%;
        /* background-color: #f89827; */
        /* position: relative;    */
    }


    .word p {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 0.6rem;
        font-family: "Poppins", 'sans-serif';
    }

    .under::after {
        left: 40px;
        position: absolute;
        bottom: 8%;
        left:.5%;
        width:26%;
        height:15px;
        content: "";
        background-color: #f89827;
        z-index: -100;
        
    }
    
    

}

@media screen and (min-width: 600px) 
and (max-width: 900px) {

    
    .myname {
        margin-top:100px;
        max-width: 100%;
        /* height: 50vh; */
        display: flex;
        flex-direction: row;
        align-items: center;  
    }

    .word {
        margin-left: 0px;
        width:90%;
        position: relative;
    }

    .word p {
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 0.6rem;
        font-family: "Poppins", 'sans-serif';
    }

    .under::after {
        left: 40px;
        position: absolute;
        bottom: 6%;
        left:.5%;
        width:28%;
        height:22px;
        content: "";
        background-color: #f89827;
        z-index: -100;

    }
    
    

}

@media screen and (min-width: 900px) 
and (max-width: 1024px) {

    
    .myname {
        margin-top:100px;
        max-width: 100%;
        /* height: 50vh; */
        display: flex;
        flex-direction: row;
        align-items: center;  
    }

    .word {
        margin-left: 0px;
        width:50%;
        position: relative;
    }

    .word p {
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 0.2rem;
        font-family: "Poppins", 'sans-serif';
    }

    .under::after {
        left: 40px;
        position: absolute;
        bottom: 6%;
        left:.5%;
        width:28%;
        height:22px;
        content: "";
        background-color: #f89827;
        z-index: -100;

    }
    
    

}
