@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.contact {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width:100%;    
    align-items: center;
    margin-top:150px;
    
}

.contact-text {
    text-align: justify;
}
.form-cover {
    display:flex;
    flex-direction: column;
    align-items: flex-start;    
    justify-content: space-between;
    width:50%;
    
    
}

form b {

    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    font-family: "Poppins", 'sans-serif';

}
form {
    display:flex;
    flex-direction: column;
    align-items: center;
    
    width:100%;
    
}

.form-mail {
    display:flex;    
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.error {

    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    font-family: "Poppins", 'sans-serif';
    color:red;
    
}

.correct {

    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    font-family: "Poppins", 'sans-serif';
    color:green;
    
}

label {

    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    font-family: "Poppins", 'sans-serif';
    color:#000;
    margin-bottom:20px;

}

form input[type="submit"] {
    width:150px;
    height: 50px;
    color:#fff;
    background-color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    font-family: "Poppins", 'sans-serif';
    border:none;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form input[type="submit"]:hover {
    transform: scale(1.1);
}

form input[type="email"] {
    width: 450px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
    padding:5px;
}

.popup-box {
    position: fixed;
    /* background: #00000050; */
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
   
.box {
    position: relative;
    width: 35%;
    margin: 0 auto;
    height: 50vh;
    max-height: 80vh;
    margin-top: calc(100vh - 100vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    /* border: 1px solid #999; */
    overflow: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    font-family: "Poppins", 'sans-serif';
    color:#000;
    box-shadow: 5px 5px 15px 5px #dbdbdb;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thank-you {    
    
    width:170px;
    height:170px;
    
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(32% - 40px);
    top: calc(100vh - 100vh - 22px);
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
    color:#fff;
    text-align: center;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}

.close-icon:hover {
    transform: scale(1.2);
}


/* Responsiveness mobile */

@media screen and (min-width: 300px) 
and (max-width: 600px) {
    input[type="email"]{ font-size: 16px; }
    .contact {     
        display:flex;
        flex-direction: column;  
        width:100%;
        margin-top:50px;
        margin-bottom:0px;        
    }
    .contact .error {
        width: fit-content;
        height:auto;
    }
    .form-cover {
        display:flex;
        flex-direction: column;
        align-items: flex-start;    
        justify-content: space-between;
        width:70%;
    }
    

    form b {

        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        text-align: center;
        font-family: "Poppins", 'sans-serif';

    }
    form {
        display:flex;
        flex-direction: column;
        align-items: center;        
        width:100%;
        
    }

    .form-mail {
        display:flex;    
        align-items: center;
        flex-direction: column;
        /* justify-content: space-between; */
        width:100%;
    }
    form input[type="submit"] {
        width:100px;
        height: 50px;
        color:#fff;
        background-color: #000;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        font-family: "Poppins", 'sans-serif';
        border:none;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        margin-top:30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input[type="email"]:focus {
        background-color: transparent;
        outline: none;
    }
    
    form input[type="submit"]:hover {
        transform: scale(1.1);
    }
    
    form input[type="email"] {
        width: 250px;
        height: 40px;
        background-color: transparent;
        border: 2px solid #000;        
        padding:5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .popup-box {
        position: fixed;
        /* background: #00000050; */
        width: 100%;
        height: 100vh;
        top: 25px;
        left: 0;
        display:flex;
        flex-direction:column;
        align-items:center;
        align-content:center;        

    }
       
    .box {
        position: relative;
        width: 80%;
        margin: 0 auto;
        height: 40vh;
        max-height: 80vh;
        margin-top: calc(100vh - 100vh - 20px);
        background: #fff;
        border-radius: 4px;
        padding: 15px;
        /* border: 1px solid #999; */
        overflow: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        font-family: "Poppins", 'sans-serif';
        color:#000;
        box-shadow: 5px 5px 15px 5px #dbdbdb;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .close-icon {
        content: 'x';
        cursor: pointer;
        position: fixed;
        right: calc(32% - 90px);
        top: calc(100vh - 100vh - 22px);
        background: #000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        border: 1px solid #999;
        font-size: 20px;
        color:#fff;
        text-align: center;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
    }

    .thank-you {    
    
        width:120px;
        height:120px;
        
    }
    
    
    

}

@media screen and (min-width: 600px) 
and (max-width: 900px) {

    
    .form-cover {
        display:flex;
        flex-direction: column;
        align-items: flex-start;    
        justify-content: space-between;
        width:70%;
        
        
    }

    form b {

        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        font-family: "Poppins", 'sans-serif';

    }
    form {
        display:flex;
        flex-direction: column;
        align-items: center;        
        width:100%;
        
    }

    .form-mail {
        display:flex;    
        align-items: center;
        justify-content: space-between;
        width:100%;
    }

    form input[type="submit"] {
        width:150px;
        height: 53px;
        color:#fff;
        background-color: #000;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        font-family: "Poppins", 'sans-serif';
        border:none;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        z-index:900;
    }
    
    form input[type="submit"]:hover {
        transform: scale(1.1);
    }
    
    form input[type="email"] {
        width: 350px;
        height: 40px;
        background-color: transparent;
        border: 2px solid #000;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;        
        padding:5px;
    }
    .popup-box {
        position: fixed;
        /* background: #00000050; */
        width: 80%;
        height: 100vh;
        top: 0;
        left: 0;
    }
       
    .box {
        position: relative;
        width: 90%;
        margin: 0 auto;
        height: 50vh;
        max-height: 80vh;
        margin-top: calc(100vh - 100vh - 20px);
        background: #fff;
        border-radius: 4px;
        padding: 20px;
        /* border: 1px solid #999; */
        overflow: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        font-family: "Poppins", 'sans-serif';
        color:#000;
        box-shadow: 5px 5px 15px 5px #dbdbdb;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .thank-you {    
        
        width:230px;
        height:230px;
        
    }
    
    .close-icon {
        content: 'x';
        cursor: pointer;
        position: fixed;
        right: calc(32% - 155px);
        top: calc(100vh - 100vh - 22px);
        background: #000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        border: 1px solid #999;
        font-size: 20px;
        color:#fff;
        text-align: center;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
    }
    
    .close-icon:hover {
        transform: scale(1.2);
    }
    


}

@media screen and (min-width: 900px) 
and (max-width: 1024px) {

    .contact {
        display: flex;
        flex-direction: column;
        height: 30vh;
        width:100%;    
        align-items: center;
        
    }

    .form-cover {
        display:flex;
        flex-direction: column;
        align-items: flex-start;    
        justify-content: space-between;
        width:70%;
        
        
    }

    form b {

        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        font-family: "Poppins", 'sans-serif';

    }
    form {
        display:flex;
        flex-direction: column;
        align-items: center;        
        width:100%;
        
    }

    .form-mail {
        display:flex;    
        align-items: center;
        justify-content: space-between;
        width:100%;
    }

    form input[type="submit"] {
        width:150px;
        height: 53px;
        color:#fff;
        background-color: #000;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        font-family: "Poppins", 'sans-serif';
        border:none;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    form input[type="submit"]:hover {
        transform: scale(1.1);
    }
    
    form input[type="email"] {
        width: 450px;
        height: 40px;
        background-color: transparent;
        border: 2px solid #000;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding:5px;
    }
    .popup-box {
        position: fixed;
        /* background: #00000050; */
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }
       
    .box {
        position: relative;
        width: 70%;
        margin: 0 auto;
        height: 50vh;
        max-height: 80vh;
        margin-top: calc(100vh - 100vh - 20px);
        background: #fff;
        border-radius: 4px;
        padding: 20px;
        /* border: 1px solid #999; */
        overflow: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        font-family: "Poppins", 'sans-serif';
        color:#000;
        box-shadow: 5px 5px 15px 5px #dbdbdb;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .thank-you {    
        
        width:230px;
        height:230px;
        
    }
    
    .close-icon {
        content: 'x';
        cursor: pointer;
        position: fixed;
        right: calc(32% - 155px);
        top: calc(100vh - 100vh - 22px);
        background: #000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        border: 1px solid #999;
        font-size: 20px;
        color:#fff;
        text-align: center;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
    }
    
    .close-icon:hover {
        transform: scale(1.2);
    }

    

}