.profile-image {
    width: 600px;
    height: 600px;
    display: block;
}

@media screen and (min-width: 300px) 
and (max-width: 600px) {

    .profile-image {
        width: 120%;
        height: 120%;
        display: block;
        
    }    

}

@media screen and (min-width: 600px) 
and (max-width: 900px) {

    .profile-image {
        width: 70%;
        height: 70%;
        display: block;
        
    }    

}