@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    margin:0px;
    padding:0px;
    max-width: 100%;
    min-height: 100vh;
    /* background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg'); */
    
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;    
    
}

main {
    
    max-width: 100%;
    overflow: hidden;
    height:fit-content;
    padding: 0px;
    margin:0px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    /* background-color: red; */
}

footer {
    width: 90%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 0.6rem;
    font-family: "Poppins", 'sans-serif';
}

footer a {
    /* text-decoration: none; */
    color: #000;
}

@-webkit-keyframes love {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

@-moz-keyframes love {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

@-o-keyframes love {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

@keyframes love {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}



footer .love {
    display:inline-block;
    width: fit-content;
    cursor: crosshair;   
}

.love:hover {
    -webkit-animation: love 5s infinite; /* Safari 4+ */
    -moz-animation:    love 5s infinite; /* Fx 5+ */
    -o-animation:      love 5s infinite;
    animation:         love 0.3s infinite alternate;
}
.sc-icons {
    width:15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-me {
    transition: all 0.5s ease-in;
}

.icon-me:hover {
    transform: scale(1.2);
}
@media screen and (min-width: 300px) 
and (max-width: 600px) {

    main {
        
        width: 100%;
        height:max-content;
        
    }

    footer {
       
        width: 100%;        
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 0.6rem;
        font-family: "Poppins", 'sans-serif';
        
    }
    
    footer a {
        /* text-decoration: none; */
        color: #000;
    }

    .sc-icons {
        width:50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top:10px;
    }

       

}

@media screen and (min-width: 600px) 
and (max-width: 900px) {

    .sc-icons {
        width:25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

       

}