@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.services-page {
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin-bottom:100px;
    /* background-color: pink;  */
}
.services-page h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 0.6rem;
    font-family: "Poppins", 'sans-serif';
    position: relative;
    left:60px;
    margin-bottom:50px;
}

.services-page h2:after {
    
    left: 40px;
    position: absolute;
    top: 0%;
    left:.5%;
    width:200%;
    height:fit-content;
    content: "Services >";    
    z-index: -100;
    opacity: .1;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 0.6rem;
    font-family: "Poppins", 'sans-serif';
    /* background-color: #f89827; */
    

}
.services-page .img-1 {
    position: absolute;
    left: 0px;
    top:15%;
    width:250px;
    height:250px;
        
    
}

@keyframes direct1 {
    from {
        left: 0px;
    }

    to {
        left: 30px;
    }
}

@-webkit-keyframes direct1 {
    from {
        left: 0px;
    }

    to {
        left: 30px;
    }
}

@-moz-keyframes direct1 {
    from {
        left: 0px;
    }

    to {
        left: 30px;
    }
}

@-o-keyframes direct1 {
    from {
        left: 0px;
    }

    to {
        left: 30px;
    }
}

.services-page .img-1:hover {
    animation:         direct1 0.3s infinite alternate;
    -webkit-animation: direct1 0.3s infinite; /* Safari 4+ */
    -moz-animation:    direct1 0.3s infinite; /* Fx 5+ */
    -o-animation:      direct1 0.3s infinite;
    
}
@keyframes direct2 {
    from {
        right: 60px;
    }

    to {
        right: 90px;    }
}
@-webkit-keyframes direct2 {
    from {
        right: 60px;
    }

    to {
        right: 90px;    }
}
@-moz-keyframes direct2 {
    from {
        right: 60px;
    }

    to {
        right: 90px;    }
}
@-o-keyframes direct2 {
    from {
        right: 60px;
    }

    to {
        right: 90px;    }
}
.services-page .img-2 {
    position: absolute;
    float:right;
    right: 60px;
    bottom:2%;
    width:250px;
    height:250px;
    
}
.services-page .img-2:hover {
    animation:         direct2 0.3s infinite alternate;

    -webkit-animation: direct2 0.3s infinite; /* Safari 4+ */
    -moz-animation:    direct2 0.3s infinite; /* Fx 5+ */
    -o-animation:      direct2 0.3s infinite; 
    
}

.services-box {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px;
    grid-gap: 80px 150px;
    align-content: center;
    height: 80vh;
    justify-content: center; 
      
     
}
.services-right{
    position: relative;
    /* margin-left: -40px; */
    
    right:-150px;

}

.services-left{
    position: relative;
    /* margin-left: -40px; */
    float: left;
    left:-240px;
    margin-top:0px;

}

.services-box h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 2.5rem;
    font-family: "Poppins", 'sans-serif';
    margin-bottom:50px;
    position: relative;
}

.services-box p {
    font-style: normal;
    font-weight: 300;
    /* font-size: 16px;     */
    font-size: 13px; 
    font-family: "Poppins", 'sans-serif';
    height: auto;
    width: 110%;
    text-align: justify;
    /* background-color: pink; */
    overflow-wrap: break-word;
    margin-top:-15px;
}


/* Responsiveness mobile */

@media screen and (min-width: 300px) 
and (max-width: 600px) {
    
    .services-page {
        width: 100%;
        height:100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        /* margin-bottom: 150px; */
        align-content: center;
        margin-top:30px;
        /* background-color: pink; */
    }

    .services-page h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 0.6rem;
        font-family: "Poppins", 'sans-serif';
        position: relative;
        margin-left:10px;
        /* margin-right:100px;  */
        margin-top: 20px;
       
    }

    .services-page h2:after {
        
        left: 40px;
        position: absolute;
        top: 0%;
        left:.5%;
        width:200%;
        height:fit-content;
        content: "Services >";    
        z-index: -100;
        opacity: .1;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 0.6rem;
        font-family: "Poppins", 'sans-serif';
        /* background-color: #f89827; */
        

    }
    
    .services-page .img-1 {
        /* position: absolute;   
        width:150px;
        height:150px;
        top: -2%;
        left:30%; */
        display:none;
        
    }

    .services-page .img-2 {
        /* position: absolute;   
        width:150px;
        height:150px;
        bottom: -2%;
        right:30%; */
        display:none;
    }

    .services-box {
        width: 100%;
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 150px;
        grid-gap: 10px;
        align-content: center;
        height: 100vh;
        justify-content: center; 
        margin-top: -20px;
        
        
    }
    .services-right{
        position: relative;        
        right:0px;

    }

    .services-left{
        
        left:0px;

    }

    .services-box h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.4rem;
        font-family: "Poppins", 'sans-serif';        
        position: relative;
    }

    .services-box p {
        font-style: normal;
        font-weight: 300;
        font-size: 10px;    
        font-family: "Poppins", 'sans-serif';
        height: fit-content;
        width: fit-content;
        text-align: justify;
    }

    
    

}

@media screen and (min-width: 600px) 
and (max-width: 900px) {

    
    .services-page {
        width: 100%;
        height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 50px;
        /* margin-top: 50px;
        align-content: center; */
         
    }
    .services-page h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 0.6rem;
        font-family: "Poppins", 'sans-serif';
        position: relative;
        left:-10%;
        margin-top:20px;
                        
    }

    .services-page h2:after {
        
        left: 40px;
        position: absolute;
        top: 0%;
        left:.5%;
        width:200%;
        height:fit-content;
        content: "Projects >";    
        z-index: -100;
        opacity: .2;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 0.6rem;
        font-family: "Poppins", 'sans-serif';
        /* background-color: #f89827; */
        

    }
    
    .services-page .img-1 {
        position: absolute;   
        width:150px;
        height:150px;
        top: -8%;
        left:40%;
        
        
    }

    .services-page .img-2 {
        position: absolute;   
        width:150px;
        height:150px;
        bottom: -5%;
        right:40%;
        
    }

    .services-box {
        width: 100%;
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 150px;
        grid-gap: 15px;
        align-content: center;
        height: 80vh;
        justify-content: center; 
        
        
    }
    .services-right{
        position: relative;        
        right:0px;

    }

    .services-left{
        
        left:0px;

    }

    .services-box h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 1.4rem;
        font-family: "Poppins", 'sans-serif';        
        position: relative;
        margin-top:5px;
        overflow-wrap: break-word;

    }

    .services-box p {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;    
        font-family: "Poppins", 'sans-serif';
        height: fit-content;
        width: fit-content;
        text-align: justify;
        /* margin-bottom:50px; */
    }

}

@media screen and (min-width: 900px) 
and (max-width: 1024px) {

    .services-page {
        width: 100%;
        height:fit-content;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 0px;
        align-items:flex-start; 
        justify-content: space-around; 
         
        /* background-color: pink;  */
    }
    
    .services-page .img-1 {
        position: absolute;
        left: -10px;
        top:12%;
        width:250px;
        height:250px;
        
    }
    
    .services-page .img-2 {
        position: absolute;
        float:right;
        right: -10px;
        bottom:30%;
        width:250px;
        height:250px;
        
    }

    .services-page h2 {
        margin-bottom:-200px;
    }

    .services-right{
        position: relative;
        /* margin-left: -40px; */
        
        right:-80px;
    
    }
    
    .services-left{
        position: relative;
        /* margin-left: -40px; */
        float: left;
        left:-80px;
        margin-top:30px;
    
    }
    

}
